<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fleecast.stamina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SECONDARY_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".chathead.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBh_POGWYMJgJxfTOXi7XtwlCCRp7FPoco" />

        <activity
            android:name=".chathead.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".chathead.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launcher.LauncherDialogActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:persistent="true"
            android:windowSoftInputMode="adjustPan">

            <!-- //android:stateNotNeeded="true"// -->
        </activity>
        <activity
            android:name=".notetaking.ActivityAddTextNote"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.AddEditGroupItem"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".launcher.IconChooserActivity" />
        <activity android:name=".notetaking.ActivityEditPhoneRecordNote" />
        <activity
            android:name=".notetaking.ActivityAddAudioNote"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".notetaking.ActivityPlayerPhone"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.PopPlayer" />
        <activity
            android:name=".notetaking.ActivityIgnoreListManager"
            android:label="@string/title_activity_ignore_list_manager"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".settings.ActivitySettings"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.ActivityChooseDirectory"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notetaking.ActivityRecordsPlayList"
            android:launchMode="singleTask" />

        <!--
            <service
            android:name=".notetaking.PlayerService"
            android:enabled="false"
            android:exported="true"></service>
        -->
        <activity
            android:name=".notetaking.AddNoteToAudio"
            android:label="@string/title_activity_add_note_to_audio"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".notetaking.ActivityViewTextNote" />
        <activity android:name=".chathead.ActivityAbout" />
        <activity
            android:name=".legacyplayer.ActivityLegacyPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
        <activity
            android:name=".legacyplayer.ActivityLegacyPlayerPhone"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />

        <service android:name=".chathead.ChatHeadService" />
        <service android:name=".notetaking.ChatHeadRecordService" />
        <service android:name=".notetaking.RecorderNoteService">
            <intent-filter>
                <action android:name="com.fleecast.stamina.action.STOP_RECORD" />
            </intent-filter>
        </service>
        <service
            android:name=".notetaking.PlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fleecast.stamina.action.SHOW_PLAYER" />
                <action android:name="com.fleecast.stamina.action.CLOSE" />
                <action android:name="com.fleecast.stamina.action.PLAY" />
                <action android:name="com.fleecast.stamina.action.PAUSE" />
                <action android:name="com.fleecast.stamina.action.SKIP" />
                <action android:name="com.fleecast.stamina.action.REWIND" />
                <action android:name="com.fleecast.stamina.action.STOP" />
            </intent-filter>
        </service>
        <service
            android:name=".legacyplayer.PlayerServiceLegacy"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fleecast.stamina.action.legacy.TOGGLE_PLAYBACK" />
                <action android:name="com.fleecast.stamina.action.legacy.SHOW_PLAYER" />
                <action android:name="com.fleecast.stamina.action.legacy.CLOSE" />
                <action android:name="com.fleecast.stamina.action.legacy.PLAY" />
                <action android:name="com.fleecast.stamina.action.legacy.PAUSE" />
                <action android:name="com.fleecast.stamina.action.legacy.SKIP" />
                <action android:name="com.fleecast.stamina.action.legacy.REWIND" />
                <action android:name="com.fleecast.stamina.action.legacy.STOP" />
            </intent-filter>
        </service>

        <receiver android:name=".notetaking.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chathead.DeviceAdminSampleReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- This part is inside the application -->
        <receiver android:name=".notetaking.PhonecallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".todo.ActivityTodoParentRecyclerView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_todo_parent_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".todo.ActivityTodoChildRecyclerView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_todo_child_recycler_view"
            android:theme="@style/AppTheme" />

        <receiver android:name=".legacyplayer.MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".notetaking.ActivityViewNoteContents"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_view_note_contents"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".todo.ActivityAddToEvent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.PopPlayer" />
        <activity
            android:name=".todo.MapsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity android:name=".backup.ActivityBackupHome"  android:screenOrientation="portrait" />
        <activity android:name=".backup.ActivityJurnalFiles"  android:screenOrientation="portrait" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-7fazqlxsxbc0bo7" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>